<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StormMacro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StormMacro.Properties.Settings>
            <setting name="blue" serializeAs="String">
                <value />
            </setting>
            <setting name="brown" serializeAs="String">
                <value />
            </setting>
            <setting name="red" serializeAs="String">
                <value />
            </setting>
            <setting name="green" serializeAs="String">
                <value />
            </setting>
            <setting name="white" serializeAs="String">
                <value />
            </setting>
            <setting name="black" serializeAs="String">
                <value />
            </setting>
            <setting name="saved" serializeAs="String">
                <value>False</value>
            </setting>
        </StormMacro.Properties.Settings>
    </userSettings>
</configuration>